# Configuración de entorno
FLASK_ENV=production

SECRET_KEY=tu-clave-secreta-aqui
MYSQL_USER=flaskuser
MYSQL_PASSWORD=flaskpass
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=sistema_inventario

# Configuración del servidor (para producción)
PORT=8000
WORKERS=4

# Configuración de logging
LOG_LEVEL=INFO
LOG_FILE=app.log